.front {
  background-image: url(./bg1.png);
  background-size: cover;
  filter: brightness(65%);
  width: 99vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

body {
  margin: 0;
  padding: 0;
  width: 99vw;
}

html {
  width: 100vw;
}

.container {
  padding: 14px;
  background: linear-gradient(90deg, rgba(234, 240, 240, 0.30) 0%, rgba(101, 104, 235, 0.2) 100%);
  border-radius: 14px;
  backdrop-filter: blur(11px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 257px;
  padding-right: 161px;
  display: flex;
  align-items: center;
}

.logo {
  width: 96px;
  display: flex;
  align-items: flex-start;
}

.logo-main {
  width: 93.82px;
  height: 21.82px;
  background: #223A60;
}

.logo-dot {
  width: 2.73px;
  height: 2.73px;
  background: #223A60;
}

.nav-links {
  padding: 10px;
  display: flex;
  gap: 54px;
}

.nav-link {
  text-align: center;
  color: #283841;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.96px;
  opacity: 0.60;
  text-decoration: none;
}

.nav-link.active {
  color: #223A60;
  font-weight: 600;
  opacity: 1;
}

.auth-buttons {
  display: flex;
  align-items: flex-start;
}

.auth-button {
  padding: 12px 32px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.96px;
  cursor: pointer;
  border: none;
}

.auth-button.sign-in {
  border: 1px solid #283841;
  color: #283841;
  margin-right: 10px;
  background: transparent;
}

.auth-button.sign-up {
  background: #223A60;
  color: white;
  border-radius: 8px;
}

.heading {
  width: 99vw;
  height: 55vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  display: inline-flex;
}

.head1 {
  width: 60vw;
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 72px;
  letter-spacing: 3.60px;
  word-wrap: break-word;
}

.head2 {
  width: 60vw;
  /* align-self: stretch;  */
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1.08px;
  word-wrap: break-word;
}

.search-container {
  width: 1440px;
  height: 249px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10vh;
  margin-left: 2vw;
  margin-bottom: 5vw;
}

.search-header {
  display: flex;
  align-items: center;
  padding: 28px;
  background: #EAF0F0;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  gap: 20px;
}

.option {
  display: flex;
  align-items: center;
  padding: 12px 32px;
  border-radius: 8px;
  gap: 16px;
}

.option.hotels {
  background: transparent;
}

.option.flights {
  background: #223A60;
}

.option .icon {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel-icon {
  width: 36px;
  height: 30px;
  background: #223A60;
}

.flight-icon {
  width: 36px;
  height: 36px;
  background: white;
}

.option-text {
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.96px;
}

.option-text.hotels {
  color: #223A60;
}

.option-text.flights {
  color: white;
}

.search-body {
  display: flex;
  align-items: flex-end;
  padding: 28px;
  background: #EAF0F0;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  justify-content: space-between;
  width: 100%;
}

.search-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search-field label {
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  color: #283841;
  text-transform: capitalize;
  letter-spacing: 0.96px;
}

.input-box {
  display: flex;
  align-items: center;
  padding: 12px;
  background: rgba(40, 56, 65, 0.06);
  border-radius: 6px;
  width: 280px;
}

.input-box input {
  border: none;
  background: transparent;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  color: #283841;
  opacity: 0.5;
}

.input-box input::placeholder {
  color: #283841;
}

.divider {
  height: 45px;
  width: 0;
  border-left: 3px solid #283841;
  opacity: 0.06;
}

.search-button {
  padding: 12px 32px;
  background: #223A60;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.96px;
  border: none;
  cursor: pointer;
}


/* j */


.container1 {
  width: 98vw;
  height: 715px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 70px;
  padding-left: 1vw;
}

.image-section {
  position: relative;
  width: 40vw;
  height: 564px;
}

.main-image {
  width: 520px;
  height: 564px;
  position: absolute;
  border-radius: 30px;
}

.info-card {
  width: 305px;
  height: 366.9px;
  padding: 13.72px;
  position: absolute;
  left: 306px;
  top: 40px;
  background: white;
  box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.17);
  border-radius: 18.3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16.77px;
}

.thumbnail {
  width: 277.55px;
  height: 228.75px;
  position: relative;
}

.thumbnail-background {
  width: 100%;
  height: 100%;
  background: #CECECE;
  border-radius: 15.25px;
  position: absolute;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15.25px;
}

.icon-container {
  position: absolute;
  top: 13.72px;
  right: 18.30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 18.3px;
  height: 18.3px;
  position: relative;
}

.icon-inner {
  width: 15.25px;
  height: 13.57px;
  position: absolute;
  background: rgba(192, 139, 125, 0.50);
  border: 1.14px rgba(40, 56, 65, 0.80) solid;
}

.icon-overlay {
  width: 18.3px;
  height: 18.3px;
  position: absolute;
  opacity: 0;
  background: rgba(192, 139, 125, 0.50);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10.68px;
}

.title-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  text-align: center;
  color: #283841;
  font-size: 15.25px;
  font-weight: 700;
  text-transform: capitalize;
}

.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6.10px;
}

.rating-icon {
  width: 15.25px;
  height: 15.25px;
  background: #283841;
}

.rating-value {
  text-align: center;
  color: #283841;
  font-size: 13.72px;
  font-weight: 500;
  text-transform: capitalize;
}

.description {
  width: 100%;
  opacity: 0.50;
  color: #283841;
  font-size: 10.68px;
  font-weight: 500;
  text-transform: capitalize;
}

.separator {
  width: 100%;
  border: 0.76px rgba(0, 0, 0, 0.20) dotted;
}

.price-location {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  gap: 6.10px;
}

.price span:first-child {
  text-align: center;
  color: #283841;
  font-size: 15.25px;
  font-weight: 700;
  text-transform: capitalize;
}

.per-night {
  text-align: center;
  color: rgba(40, 56, 65, 0.70);
  font-size: 10.68px;
  font-weight: 500;
  text-transform: capitalize;
}

.location {
  display: flex;
  align-items: center;
  gap: 7.62px;
}

.location-icon {
  width: 18.30px;
  height: 18.30px;
}

.text-section {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 39px;
}

.header {
  height: 127px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
}

.why-choose-us {
  color: #C08B7D;
  font-size: 56px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
}

.header-description {
  align-self: stretch;
  color: rgba(40, 56, 65, 0.60);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 26px;
  letter-spacing: 0.96px;
}

.benefits-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.benefit-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}

.benefit-icon {
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  background: #C08B7D;
}

.benefit-item p {
  color: #283841;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.96px;
  margin: 0;
}

.footer-description {
  color: rgba(40, 56, 65, 0.60);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 26px;
  letter-spacing: 0.96px;
}

/* k */

/* body {
    font-family: 'DM Sans', sans-serif;
    color: #283841;
    background-color: #f9f9f9;
    padding: 20px;
  }
   */
header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
}

header p {
  color: rgba(40, 56, 65, 0.60);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.96px;
}

main {
  display: flex;

  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: rgba(40, 56, 65, 0.02);
  border-radius: 24px;
  padding: 18px;
  width: 21.54vw;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  border-radius: 20px;
}

.badge {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 18px;
  right: 18px;
  background: rgba(192, 139, 125, 0.50);
  border: 1.5px solid rgba(40, 56, 65, 0.80);
  border-radius: 50%;
}

.content {
  margin-top: 22px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rating .star {
  width: 20px;
  height: 20px;
  background: #283841;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.rating span {
  font-size: 18px;
  font-weight: 500;
}

.description {
  color: #283841;
  opacity: 0.50;
  font-size: 14px;
  font-weight: 500;
  margin: 6px 0;
}

hr {
  border: 1px dotted rgba(0, 0, 0, 0.20);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price span {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.location {
  display: flex;
  align-items: center;
  gap: 10px;
}

.location .icon {
  width: 24px;
  height: 24px;
  border: 1.5px solid #C08B7D;
}

.location span {
  font-size: 18px;
  font-weight: 500;
}



/* y */



.trending-destinations {
  color: #283841;
}

.trending-header {
  margin-bottom: 27px;
}

.trending-header h1 {
  font-size: 56px;
  font-weight: 700;
  text-transform: capitalize;
  color: #283841;
}

.trending-header h1 .highlight {
  color: #C08B7D;
}

.trending-header p {
  color: rgba(40, 56, 65, 0.60);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.96px;
  text-transform: capitalize;
  margin-bottom: 1vw;
  /* margin-top: 2px; */
}

.destination-gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 0 8vw;
  gap: 20px;
}

.destination {
  position: relative;
  width: 25vw;
  height: 55vh;
  border-radius: 40px;
  overflow: hidden;
}

.destination-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(34, 58, 96, 0.30) 0%, rgba(34, 58, 96, 0.30) 100%);
  z-index: 1;
}

.destination-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.destination-info {
  position: absolute;
  top: 0;
  left: 10%; 
  right: 10%;
  width: 80%;
  
  background: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 2;
  text-align: center;
}

.destination-info h2 {
  font-size: 34px;
  font-weight: 700;
  color: #283841;
  text-transform: capitalize;
  letter-spacing: 0.68px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-button1 {
  width: 72px;
  height: 72px;
  background: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}


/* f */


.why-choose-us {
  max-width: 99vw;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 94px;
}

.section-header {
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 0 1vw ;
}

.section-header h1 {
  font-size: 56px;
  font-weight: 700;
  margin: 0;
  color: rgba(40, 56, 65, 0.60);
}

.section-header .highlight {
  color: #C08B7D;
}

.description2 {
  color: rgba(40, 56, 65, 0.60);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.96px;
  max-width: 800px;
  margin: 0 auto;
}

.testimonials-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-button {
  width: 48px;
  height: 48px;
  border: 1.6px solid #C08B7D;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-button.prev .arrow {
  border: solid #C08B7D;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.nav-button.next {
  background-color: #C08B7D;
}

.nav-button.next .arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.testimonials-container {
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.testimonial {
  width: 21.923vw;
  padding: 30px 10px 20px;
  background-color: #fff;
  box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.testimonial-image {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.testimonial-text {
  opacity: 0.6;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.rating {
  display: flex;
  gap: 8px;
}

.star {
  width: 22px;
  height: 22px;
  background-color: #DABE29;
  clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 76%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
}

.star.filled {
  background-color: #DABE29;
}

.testimonial-footer {
  text-align: center;
}

.testimonial-footer .name {
  font-size: 20px;
  font-weight: 700;
}

.testimonial-footer .location {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
}


/* a */



.footer-container {
  width: 99vw;
  max-width: 99vw;
  margin: 0 auto;
  background-color:#1F2227;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 4vw 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  /* gap: 42px; */
  margin-bottom: 42px;
}

.footer-about{
  width: 20vw;
  padding-left: 4vw;
}

.footer-about,
.footer-subscribe {
  flex-direction: column;
  width: 23vw;
}
.footer-subscribe{
  background-color: dimgray;
  margin-right: 4vw;
  border-radius: 10px;
  padding: 3vw;
}

.footer-logo {
  width: 84px;
  height: 50px;
  background: white;
}

.footer-description1 {
  opacity: 0.75;
  font-size: 12px;
  font-weight: 500;
  margin-top: 18px;
  
}
.footer-links{
  width: 35vw;
  display: flex;
  justify-content: space-between;
}
.footer-links nav h2{
  display: flex;
  flex-direction: column;
}

.footer-links nav {
  margin-right: 60px;
}

.footer-links h2,
.footer-subscribe h2 {
  font-size: 16px;
  font-weight: 700;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li,
.footer-link {
  opacity: 0.75;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 11px;
}

.footer-subscribe .subscribe-form {
  display: flex;
  margin-top: 15px;
}

.subscribe-input {
  width: 198px;
  padding: 10px;
  border: 1.5px solid #E7E8F2;
  border-radius: 6px;
  color: #7A7E92;
  font-size: 14px;
}

.subscribe-button {
  width: 50px;
  background: #C08B7D;
  border: none;
  cursor: pointer;
  position: relative;
}

.subscribe-button::after {
  content: '';
  position: absolute;
  width: 13px;
  height: 15.28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  background: white;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background: white;
  opacity: 0.20;
  margin-bottom: 20px;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
}

.footer-link {
  font-size: 14px;
  font-family: 'Larsseit', sans-serif;
  color: white;
}